* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
main {
  background-color: white;
  margin: 5rem;
}

a:hover,
li:hover {
  text-decoration: underline brown;
}
h1 {
  color: darkgreen;
  background-color: #faf0e6;
}

h2 {
  padding-top: 2%;
}

.box-button {
  margin: 1rem;
  padding: 10px;
  background-color: palegreen;
  font-size: 17px;
}
.img-list {
  width: 150px;
}
.div-img {
  display: inline-block;
}
.footer-title {
  margin-top: 100px;
}

ul {
  width: 100%;
  display: inline;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: saddlebrown;
}

li {
  width: 100%;
  display: inline;
}

.banner {
  background-color: #faf0e6;
  padding: 2%;
  text-align: center;
}

.box-img {
  margin: 1%;
  align-items: center;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div-img {
  border: dashed saddlebrown;
}

.img-list {
  max-width: 400px;
  max-height: 500px;
  width: auto;
  height: auto;
}

.div-img button {
  margin-left: 75%;
  margin-bottom: 5%;
}
